@keyframes cube-loading {
  16.67%, 33.33% {
    transform: rotateX(-30deg) rotateY(45deg) rotateZ(0.25turn);
  }
  50%, 66.67% {
    transform: rotateX(-30deg) rotateY(45deg) rotateZ(0.25turn) rotateY(90deg);
  }
  83.33%, 99.999% {
    transform: rotateX(-30deg) rotateY(45deg) rotateZ(0.25turn) rotateY(90deg) rotateZ(-0.25turn);
    animation-timing-function: step-end;
  }
  100% {
    transform: rotateX(-30deg) rotateY(45deg) rotateY(0);
  }
}
.cube-loading-wrapper {
  perspective: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%) scale(0);
  visibility: hidden;
  transition: all 0.5s;
}
.loading {
  transform: translateX(-50%) scale(1);
  visibility: visible;
}
.cube-loading-wrapper.grey .cube-loading > div {
  background-color: rgba(255, 255, 255, 0.3);
}
.cube-loading-wrapper {
  --left-color: #BAC9FF;
  --top-color: #E9F5FE;
  --front-color: #92ABFB;
}
@keyframes cube-top {
  16.67%, 33.33% { background-color: #FFFFFF; }
  50%, 66.67% { background-color: #FFFFFF; }
  83.33%, 100% { background-color: var(--front-color); }
}
.cube-loading-wrapper.grey .cube-loading > div.top {
  background-color: #E9F5FE;
  animation: cube-top 8s infinite ease;
}
@keyframes cube-bottom {
  16.67%, 33.33% { background-color: var(--left-color); }
  50%, 66.67% { background-color: var(--left-color); }
  83.33%, 100% { background-color: #FFFFFF; }
}
.cube-loading-wrapper.grey .cube-loading > div.bottom {
  background-color: var(--left-color);
  animation: cube-bottom 8s infinite ease;
}
@keyframes cube-left {
  16.67%, 33.33% { background-color: var(--top-color); }
  50%, 66.67% { background-color: var(--front-color); }
  83.33%, 100% { background-color: var(--left-color); }
}
.cube-loading-wrapper.grey .cube-loading > div.left {
  background-color: #BAC9FF;
  animation: cube-left 8s infinite ease;
}
.cube-loading-wrapper.grey .cube-loading > div.front {
  background-color: #92ABFB;
}
@keyframes cube-back {
  16.67%, 33.33% { background-color: var(--top-color); }
  50%, 66.67% { background-color: var(--top-color); }
  83.33%, 100% { background-color: var(--top-color); }
}
.cube-loading-wrapper.grey .cube-loading > div.back {
  background-color: white;
  animation: cube-back 8s infinite ease;
}
.cube-loading {
  margin: 15px;
  width: 20px;
  height: 20px;
  animation: cube-loading 8s infinite ease;
  color: white;
  transform: rotateX(-30deg) rotateY(45deg);
  transform-style: preserve-3d;
}
.cube-loading > div {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
}
.cube-loading .front {
  transform: translateZ(10px);
  background-color: #2d86deb0;
}
.cube-loading .back {
  transform: rotateY(180deg) translateZ(10px);
  background-color: #2de464b0;
}
.cube-loading .right {
  transform: rotateY(90deg) translateZ(10px);
  background-color: #e3f057b0;
}
.cube-loading .left {
  transform: rotateY(-90deg) translateZ(10px);
  background-color: #efa141b0;
}
.cube-loading .top {
  transform: rotateX(90deg) translateZ(10px);
  background-color: #c13e61b0;
}
.cube-loading .bottom {
  transform: rotateX(-90deg) translateZ(10px);
  background-color: #984dd1b0;
}
.cube-loading .x {
  border: 1px solid black;
  width: 200%;
  height: 0;
  margin-left: -50%;
  position: relative;
  color: black;
  position: absolute;
  top: 50%;
}
.cube-loading .x::after {
  display: block;
  content: "x";
  position: absolute;
  left: -10px;
  top: -12px;
}
.cube-loading .y {
  border: 1px solid black;
  width: 0;
  height: 200%;
  margin-top: -50%;
  position: relative;
  color: black;
  position: absolute;
  left: 50%;
}
.cube-loading .y::after {
  display: block;
  content: "y";
  position: absolute;
  top: -20px;
}